body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Occupy viewport
    min-height: 100vh; */
}

/* for padding the elements. can prob do better */
/* .header, ul {
    padding-left: 10px;
    padding-right: 10px;

} */

.header, .hero, .footer {
    background-color: #1f2937;
    color: #f9faf8;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 24px;
}

.hero {
    flex: 1;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

ul, .title-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

button, .box {
    background-color: #3882f6;
}

button {
    border-radius: 8px;
    color: whitesmoke;
    border: none;
    padding: 5px 15px;
}

/* button as a child of .box */
.box button {
    border: 1px solid whitesmoke;
}

.box {
    width: 70vh;
}

.second-section {
    flex: 1;
}
.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px
}

.card {
    text-align: center;
    /* control size of cards */
    width: 150px;
}

.card-text {
    font-size: 12px;
}


.third-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex: 1;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100vh;
    
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    

}

.quoted {
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.fourth-section {
    display: flex;
    justify-content: center;
    flex: 1;
}

.box {
    color: #e5e7eb;
    border-radius: 5px;
    margin: 80px;
    padding: 30px 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.call {
    font-weight: bold;
}